#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/cmake.mk

DEB_CMAKE_EXTRA_FLAGS = -DCMAKE_SKIP_RPATH=OFF -DBUILD_SHARED_LIBS=ON -DMPIEXEC_POSTFLAGS="--allow-run-as-root"

DEB_MAKE_CHECK_TARGET := test
